@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

body {
    background: #fafbfc;
    font-family: 'Poppins',
        sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

header {
    display: flex;

    background: linear-gradient(to right, #8945ee, #ae7afa);
    padding: 25px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

menu ul {
    display: flex;

    width: 300px;

    justify-content: space-around;
}

menu ul li {
    padding: 0.5rem;
    border-radius: 0.4rem;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.11s;
}

menu ul li a {
    color: #ffffff;
}

menu ul li:hover {
    background: rgba(0, 0, 0, 0.3);
}

article {
    background: #ffffff;
    padding: 25px calc((100% - 900px) / 2);
}

.principal {
    margin: 0 25px;
}

.img1, .img2, .img3 {
    align-self: end;
    border-radius: 0.5rem;
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #b07dfb;
}

h2, .p2 {
    font-size: 0.75rem;
    color: #b07dfb;
}

.p2 {
    max-width: 14rem;
}

.infos {
    display: flex;
}

.info {
    display: flex;

    background: linear-gradient(to right bottom, #8945ee, #ae7afa);
    border-radius: 0.5rem;
    color: #b07dfb;
    height: 100px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    flex-direction: column;
    justify-content: space-between;
}

.info h3 {
    padding: 0.5rem 2rem 0;
    font-size: 1.5rem;
}

.info p{
    border-radius: 0 0 0.5rem 0.5rem;
    background: #ffffff;
    padding: 0.5rem 1.7rem 0;
}

.info:nth-child(2) {
    margin-left: 2rem;
}

.p5 {
    border-radius: 0.5rem;
    background: linear-gradient(to right, #8945ee, #ae7afa);
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
}

.p5 p {
    margin: 0 auto;
    max-width: 500px;
}

.caracteristicas {
    align-self: start;
    border-radius: 0.5rem;
    background: linear-gradient(to right bottom, #8945ee, #ae7afa);
    color: #ffffff;
    padding: 2rem;
}

.caracteristicas li {
    padding: 0.75rem 1rem;
}

.caracteristicas li+li {
    border-top: 2px solid #b07dfb;
}

.icones {
    background: #fafbfc;
    padding: 25px;
}

.icones li a {
    display: block;
    min-width: 60px;
    max-width: 150px;
    margin: 0 auto 25px auto;
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.icones li a:hover {
    background: #b07dfb;
}

.anuncios {
    display: flex;

    height: 475px;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.anuncios img {
    border-radius: 0.5rem;
    height: 200px;
}

footer {
    background: linear-gradient(to right, #8945ee, #ae7afa);
    padding: 25px;
    color: #ffffff;
    text-align: center;
}

/* Grid Layout*/

.layout {
    display: grid;

    grid: 
        "header                 header      header"   
        "icones                 article     anuncios" 
        "footer                 footer      footer"   
        /minmax(160px, 1fr)     3fr         300px
    ;
}

.principal {
    display: grid;
    
    gap: 25px;

    grid:
        "titulo             info"
        "p1                 p1"
        "img1               p2"
        "img1               img2"
        "p3                 p4"
        "p5                 p5"
        "caracteristicas    p6"
        "caracteristicas    p6"
        "img3               img3"
        /1fr                1fr
    ;
}

/* Grid items*/

header {
    grid-area: header;
}

.icones {
    grid-area: icones;
}

.article {
    grid-area: article;
}

.anuncios {
    grid-area: anuncios;
}

footer {
    grid-area: footer;
}

h1 {
    grid-area: h1;
}

h2 {
    grid-area: h2;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}

.p5 {
    grid-area: p5;
}

.p6 {
    grid-area: p6;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.info {
    grid-area: info;
}

.caracteristicas {
    grid-area: caracteristicas;
}

/* Media */

@media (max-width: 1280px) {
    .layout {
        display: grid;

        grid:
            "header             header"
            "icones             article"
            "icones             anuncios"
            "footer             footer"
            /minmax(160px, 1fr) 3fr;
    }

    .anuncios {
        height: auto;
        margin: 25px 0;

        flex-direction: row;
    }

    .anuncio:nth-child(2) {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 760px) {
    .layout {
        display: grid;

        grid:
            "header"
            "icones"
            "article"
            "anuncios"
            "footer"
            /1fr;
    }

    header {
        flex-direction: column;
    }

    menu {
        margin-top: 25px;
    }

    .icones {
        position: relative;
        padding: 0 25px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .icones::after {
        content: '⮕';
        position: absolute;
        top: 2px;
        right: 25px;
        color: rgba(0, 0, 0, 0.3);
        animation: seta 0.5s ease-in 0s infinite alternate;
    }

    .icones ul {
        display: flex;
    }

    .icones ul li {
        flex: 1 0 120px;
    }

     .icones ul li a {
         margin: 25px 25px 25px 0;
     }
}

@media (max-width: 600px) {
    .principal {
        grid: 
        "titulo"
        "info"
        "p1"
        "img1"
        "p2"
        "img2"
        "p3"
        "p4"
        "p5"
        "caracteristicas"
        "p6"
        "img3"
        /1fr;
    }
}

@media (max-width: 510px) {
    .anuncios {
        height: auto;
        margin: 25px 25px;
        flex-direction: column;
    }

    .anuncio:nth-child(2) {
        margin-top: 25px;
        margin-left: 0;
    }

    .anuncios img {
        width: 100%;
        height: 100%;
    }
}

/* Animação */

@keyframes seta {
    from {
        right: 25px;
    }

    to {
        right: 15px;
    }
}